@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cera: "CeraPro", sans-serif;
  --font-benzin: "Benzin", sans-serif;
  
  --color-background: #ffffff;
  --color-barBackground: #f5f5f5;
  --color-text: #171717;
  --color-border: #000000;
  --color-hoverBorder: #ff1e18;

  --standard-padding: 40px;
  cursor: url('/cursor.svg');

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
