.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  user-select: none;
  cursor: url("/cursor.svg"), auto;
}

.mainContent {
  flex: 1;
  padding: var(--standard-padding);
}

.bar {
  display: flex;
  text-align: center;
  background-color: var(--color-barBackground);
  color: var(--color-text);
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 15;
  margin: 0 var(--standard-padding);
  transition: margin 0.3s ease-in-out;
}

.expandedBar {
  margin: 0;
}

.barSection {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--color-border);
  border-right: none;
  border-left: 0.25px solid var(--color-border);
  cursor: pointer;
  transition: flex 0.3s ease, border 0.3s ease, border-left 0.3s ease;
  user-select: none;
}

.barSection * {
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

.barSection:first-child {
  border-left: 1px solid var(--color-border);
}

.barSection:last-child {
  border-right: 1px solid var(--color-border);
}

.barSection:hover {
  border: 1px solid var(--color-hoverBorder);
}

.barSection:hover + .barSection {
  border-left: 0.5px solid var(--color-hoverBorder);
}

.barText {
  font-family: var(--font-cera);
  font-size: 12px;
  line-height: 1;
  text-align: left;
}

.elementContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-barBackground);
  border: 1px solid var(--color-border);
  border-bottom: none;
  overflow: hidden;
  cursor: pointer;
}

.elementContainer:last-child {
  border-bottom: 1px solid var(--color-border);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--color-border);
  height: var(--standard-padding);
}

.details {
  display: flex;
  flex-direction: row;
  height: 100%; /* Takes full height of the parent */
  align-items: flex-end; /* Aligns content to the bottom */
  justify-content: flex-start;
  border-left: 0.5px solid var(--color-border);
}

.spanDiv {
  display: flex; /* Keeps flex display for bottom alignment */
  align-items: flex-end; /* Aligns text to the bottom */
  height: 100%; /* Stretches span to full height of .details */
  border-right: 0.5px solid var(--color-border); /* Vertical border */
  padding-right: var(--standard-padding); /* Space to the right */
  padding-left: 10px; /* Space to the left */
  position: relative; /* Needed for absolute positioning of inner text */
}

.spanDiv span {
  font-family: var(--font-cera);
  font-weight: 400;
  color: var(--color-text);
  font-size: 0.95rem;
  text-transform: uppercase;
}

.spanDiv h3 {
  font-family: var(--font-cera);
  font-weight: 800;
  font-size: 1rem;
  user-select: none;
  color: var(--color-text);
}

.spanDiv:last-child {
  border-right: none; /* Removes border from the last span */
}

.details strong {
  color: var(--color-text);
}

.imageGallery {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 400px; /* zmien w scroollButton na takie samo */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
}

.imageGallery::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
}

.scrollButton {
  position: absolute;
  height: 400px;
  width: var(--standard-padding);
  background-color: var(--color-barBackground);
  color: var(--color-text);
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.scrollButton:hover {
  border: 1px solid var(--color-hoverBorder);
}

.scrollButton.left {
  left: 0; /* Stick to the left side */
}

.scrollButton.right {
  right: 0; /* Stick to the right side */
}

.imageSection {
  flex-shrink: 0;
  width: auto;
  height: 100%; /* Ensures images take up full height */
}

.imageSectionImage {
  height: 100%;
  width: auto;
  object-fit: cover; /* Ensures the images maintain aspect ratio */
}

.footer {
  display: flex;
  justify-content: space-between; /* Ensure equal spacing between sections */
  align-items: center;
  background: var(--color-barBackground);
  border-top: 1px solid var(--color-border);
  font-family: var(--font-cera);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text);
  padding: 1rem var(--standard-padding) 1.5rem var(--standard-padding);
}

.footerLeft,
.footerCenter,
.footerRight {
  flex: 1;
  display: flex;
  align-items: center;
}

.footerLeft {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footerCenter {
  justify-content: center;
  gap: 16px;
}

.footerRight {
  justify-content: flex-end;
  gap: 16px;
}

.footerLeft p {
  margin: 0;
  line-height: 1.5;
  text-align: left; /* Left-align text in the left section */
}

.footerLink {
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
  transition: transform 0.2s, fill 0.2s;
}

.socialIcon:hover {
  transform: scale(1.2);
  fill: var(--color-text);
}

/* SETITNGS */
.languageLabel {
  font-family: var(--font-cera);
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  color: var(--color-text);
}

.colorLabel {
  font-family: var(--font-cera);
  font-size: 1.2rem;
  line-height: 1;
  text-align: left;
  color: var(--color-text);
}

.selectNone * {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  cursor: url("/cursor.svg"), auto;
}

.resetButton {
  font-family: var(--font-cera);
  font-size: 1rem;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.resetButton:hover {
  transform: scale(1.1);
}
