.container {
  padding: 40px;
  background-color: white;
  user-select: none;
  cursor: url('/cursor.svg'), auto;
}

.bar {
  display: flex;
  text-align: center;
  background-color: #f5f5f5;
  color: black;
  user-select: none;
  margin-bottom: 40px;
}

.barSection {
  flex: 1;
  padding: 15px;
  border: 1px solid #000;
  border-right: none;
  border-left: 0.25px solid #000;
  cursor: pointer;
  transition: flex 0.3s ease, border 0.3s ease, border-left 0.3s ease;
  user-select: none;
}

.barSection * {
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

.barSection:first-child {
  border-left: 1px solid #000;
}

.barSection:last-child {
  border-right: 1px solid #000;
}

.barSection:hover {
  border: 1px solid rgba(126, 252, 0, 0.494);
}

.barSection:hover + .barSection {
  border-left: 0.5px solid rgba(126, 252, 0, 0.494);
}

.barText {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}


.elementContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: 1px solid #000;
  border-bottom: none;
  overflow: hidden;
  cursor: pointer;
}

.elementContainer:last-child {
  border-bottom: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #000;
  height: 50px;
}

.details {
  display: flex;
  flex-direction: row;
  height: 100%; /* Takes full height of the parent */
  align-items: flex-end; /* Aligns content to the bottom */
  justify-content: flex-start;
  border-left: #000 0.5px solid;
}

.spanDiv {
  display: flex; /* Keeps flex display for bottom alignment */
  align-items: flex-end; /* Aligns text to the bottom */
  height: 100%; /* Stretches span to full height of .details */
  border-right: #000 0.5px solid; /* Vertical border */
  padding-right: 40px; /* Space to the right */
  padding-left: 5px; /* Space to the left */
  position: relative; /* Needed for absolute positioning of inner text */
}

.spanDiv span {
  color: #000;
}

.spanDiv h3 {
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  color: #000;
}

.spanDiv:last-child {
  border-right: none; /* Removes border from the last span */
}

.details strong {
  color: #000;
}

.imageGallery {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 400px; /* zmien w scroollButton na takie samo */
}

.scrollButton {
  position: absolute;
  height: 400px;
  width: 50px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.scrollButton.left {
  left: 0; /* Stick to the left side */
}

.scrollButton.right {
  right: 0; /* Stick to the right side */
}

.imageSection {
  flex-shrink: 0;
  width: auto;
  height: 100%; /* Ensures images take up full height */
}

.imageSectionImage {
  height: 100%;
  width: auto;
  object-fit: cover; /* Ensures the images maintain aspect ratio */
}
