.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  cursor: url("/cursor.svg"), auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--standard-padding);
}

.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding);
}

.imageSection {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.imageSectionImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* cursor: none; */
}

.title {
  font-size: clamp(35.06px, 2.02vw + 20.99px, 50.83px);
  font-family: var(--font-benzin);
  font-weight: 400;
  line-height: 1;
}

.textSection {
  flex: 1.25;
  font-family: Arial, sans-serif;
  color: black;
  padding-left: 6vw;
}

.description {
  font-family: var(--font-cera);
  margin-top: 1.5rem;
}

.description h2 {
  font-size: clamp(25px, 0.79vw + 21.83px, 31.98px);
  font-weight: 400;
  text-decoration: none;
  margin-bottom: .5rem;
  margin-top: 1.75rem;
}

.description p {
  font-size: clamp(18px, 0.23vw + 17.35px, 20px);
  margin-bottom: 0.75rem;
}

.description ul {
  margin-left: 20px;
}

.description ul li {
  margin-bottom: 5px;
}
