.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  cursor: url("/cursor.svg"), auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--standard-padding);
}

.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imageSection {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.imageSectionImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* cursor: none; */
}

.title {
  font-size: clamp(35.06px, 2.02vw + 20.99px, 50.83px);
  font-family: var(--font-benzin);
  font-weight: 400;
  line-height: 1;
  color: var(--color-text);
}

.textSection {
  flex: 1.25;
  font-family: Arial, sans-serif;
  color: black;
  padding-left: 6vw;
}

.description {
  font-family: var(--font-cera);
  margin-top: 1.5rem;
  color: var(--color-text);
  line-height: 1.5;
}

.description h2 {
  font-size: clamp(25px, 0.79vw + 21.83px, 31.98px);
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0.5rem;
  margin-top: 1.75rem;
}

.description p {
  font-size: clamp(18px, 0.23vw + 17.35px, 20px);
  margin-bottom: 0.75rem;
}

.description ul {
  margin-left: 20px;
}

.description ul li {
  margin-bottom: 5px;
}

.headerContainer {
  display: flex; /* Set display to flex for row alignment */
  width: 100%;
  align-items: center; /* Align items vertically in the center */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  height: var(--standard-padding); /* Set height */
  background-color: var(--color-barBackground);
  flex-grow: 1;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background-color: var(--color-barBackground);
  height: var(--standard-padding);
  width: 50px;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 0.5px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.backButton:hover {
  border-right: 0.5px solid var(--color-hoverBorder);
  border-bottom: 1px solid var(--color-hoverBorder);
}

.details {
  display: flex;
  flex-direction: row;
  height: 100%; /* Takes full height of the parent */
  align-items: center; /* Center align contents */
  justify-content: flex-start;
  border-left: 0.5px solid var(--color-border);
}

.spanDiv {
  display: flex; /* Keeps flex display for bottom alignment */
  align-items: center; /* Center aligns text vertically */
  height: 100%; /* Stretches span to full height of .details */
  border-left: 0.5px solid var(--color-border);
  padding-right: 1rem;
  padding-left: 1rem; /* Space to the left */
}

.spanDiv span {
  font-family: var(--font-cera);
  font-weight: 400;
  color: var(--color-text);
  font-size: 0.95rem;
  text-transform: uppercase;
}

.spanDiv h3 {
  font-family: var(--font-cera);
  font-weight: 800;
  font-size: 1rem;
  user-select: none;
  color: var(--color-text);
}

.spanDiv:first-child {
  border-left: none; /* Removes border from the last span */
}

.languageButtons {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 0.5px solid var(--color-border);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  gap: .75rem;
}

.languageButtons button {
  font-family: var(--font-cera);
  font-weight: 400;
  cursor: pointer;
  color: var(--color-text);
}

.languageButtons .activeButton {
  font-weight: 800;
}